.intro{
    display:flex;
    align-items:center;
    flex-direction: row;
    gap:100px;
    width: 80%;
    height: 700px;
    background-color: white;
    
}

@media only screen and (max-width: 1000px) {
    .intro {
        display:flex;
        align-items:center;
        flex-direction: column;
        gap:100px;
        width: 80%;
        height: 1000px;
        background-color: white;
    }
}

img{
    border-radius: 50%;
    width: 400px;
}

@media only screen and (max-width: 500px) {
    img{
        border-radius: 50%;
        width: 100%;
    }
}